unset smtp_url
unset smtp_oauth_refresh_command

set folder              = $HOME/Mail/syca
set realname            = "Damon"
set from                = "damon@syca.top"
set ssl_force_tls       = yes
set ssl_starttls        = yes
set smtp_authenticators = "login"
set sendmail            = "/usr/bin/msmtp -a syca damon@syca.top"

set mbox_type           = Maildir
set spoolfile           = +INBOX
set postponed           = +Drafts
set trash               = +Trash
set record              = +Sent

mailboxes               = +INBOX \
                          +Sent \
			  +Drafts \
			  +Trash \
			  +Junk

#account-hook $folder ""
